<div>
  <button-demo-custom-button
    [template]="textButtonTemplate"
    [config]="textButtonConfig"
  ></button-demo-custom-button>
</div>
<div>
  <button-demo-custom-button
    [template]="imageButtonTemplate"
    [config]="imageButtonConfig"
  ></button-demo-custom-button>
</div>

<ng-template #textButtonTemplate let-config="data">
  <button
    type="button"
    [ngStyle]="config.style"
    (click)="onTextButtonClicked()"
  >
    {{ config.text | uppercase }}
  </button>
</ng-template>

<ng-template #imageButtonTemplate let-config="data">
  <img
    alt="An image button"
    [src]="config.src"
    [ngStyle]="config.style"
    (click)="onImageButtonClicked()"
  />
</ng-template>
